- player_class = Member.new.class

%div.span4
  %h2
    = @home_team.name
  %h3
    = starting_status_for_display(Constants.starting_status.starting)
  =render :partial => 'games/player_list', locals: { game_team: @home_team }
  %h3
    = starting_status_for_display(Constants.starting_status.reserve)
  =render :partial => 'games/player_list', locals: { game_team: @home_team }

%div.span4
  %h2
    = @away_team.name
  %h3
    = starting_status_for_display(Constants.starting_status.starting)
  = render :partial => 'games/player_list', locals: { game_team: @away_team }
  %h3
    = starting_status_for_display(Constants.starting_status.reserve)
  = render :partial => 'games/player_list', locals: { game_team: @away_team }
