= render partial: 'shared/errors', object: @game_member.errors
= form_for @game_member, remote: true,  :html => { :class => 'form-vertical' } do |f|
  = f.hidden_field :game_team_id
  = f.hidden_field :starting_status
  .modal-body
    .control-group
      = f.label :member_id, :class => 'control-label'
      .controls
        = f.collection_select(:member_id, @players, :id, :full_name)
    -# .control-group
      -# = f.label :position_id, class: 'control-label'
      -# .controls
        -# = f.collection_select(:position_id, @positions, :id, :name)
    .form-actions
      .modal-footer
        %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
        = f.submit nil, remote: true, :class => 'btn btn-primary'
