<%= form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :player_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :player_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :member_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :member_type, @member_types %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uniform_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :uniform_number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :position_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birth_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :birth_day, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
<% end %>
